.header__nav {
    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 30px;
    }

    &-list-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        column-gap: 4px;
        position: relative;
        padding: 5px;
    }

    &-link {
        font-family: $secondary-ff;
        font-size: $text-2xl;
        line-height: 36px;
        color: $primary-c;
    }

    .down-arrow {
        transition: 0.3s;
        color: $primary-c;
        font-size: $text-2xl;
        margin-top: 4px;
    }

    &__sub-list {
        display: none;
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        z-index: 2;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        &.active {
            display: block;
        }
    }

    &__sub-link {
        display: block;
        font-family: $secondary-ff;
        font-size: $text-xl;
        color: $primary-c;
        padding: 15px 25px;

        &:hover {
            background-color: $primary-c;
            color: $white-c;
        }
    }

    &__sub-list-item {
        text-align: center;
        text-transform: capitalize;
        background-color: $white-c;
        cursor: pointer;
    }
}