.about {
    .container {
        .about_h1 {
            padding-top: 82px;
            font-weight: 600;
            font-size: 34px;
        }

        .line_about {
            width: 385px;
            height: 2px;
            background-color: $green-c ;
            margin-top: 5px;
        }

        .about_title {
            margin-top: 8%;

            .about_title_h1 {
                font-weight: 600;
                font-size: 34px;
            }

            .line_title {
                width: 325px;
                height: 2px;
                background-color: $green-c ;
                margin-top: 5px;
            }

            .about_title_text {
                margin-top: 30px;
                font-size: 17px;
                font-weight: 400;

            }
        }

        .about_main {
            .about_main_h1 {
                margin-top: 40px;
                font-size: 34px;
                font-weight: 600;
            }

            .line_main {
                width: 400px;
                height: 2px;
                background-color: $green-c ;
                margin-top: 0.5%;
                margin-bottom: 3%
            }

            .about_main_text {
                margin-top: 5px;
                font-size: 17px;
                font-weight: 400;
            }
        }

        .about_consortium {
            .about_consortium_h1 {
                margin-top: 40px;
                font-size: 34px;
                font-weight: 600;
            }
            .line_consortium{
                width: 200px;
                height: 2px;
                background-color: $green-c ;
                margin-top: 5px;
                margin-bottom: 25px;
            }
            .about_consortium_text{
                font-family: 'Inter';
                font-size: 17px;
                font-weight: 400;
                margin-bottom: 7px;
            }
        }
        .about_duration{    
            display: flex;
            .about_duration_h1{
                margin-top: 45px;
                font-weight: 600;
                font-size: 34px;
            }
            .about_duration_text{
                margin-left: 35px;
                margin-top: 59px;
            }
        
        }
        .line_duration{
            width: 70%;
            height: 2px;
            background-color: $green-c ;
            margin-top: 5px;
        }
        .line_duration_2{
            width: 665px;
            height: 2px;
            background-color: $green-c ;
            margin-top: 5px;
        }
        .line_duration_3{
            width: 440px;
            height: 2px;
            background-color: $green-c ;
            margin-top: 5px;
        }
        .line_duration_4{
            width: 700px;
            height: 2px;
            background-color: $green-c ;
            margin-top: 5px;
        }
        .line_duration_5{
            width: 300px;
            height: 2px;
            background-color: $green-c ;
            margin-top: 5px;
        }
    }
}