.desc {
    padding: 60px 0 80px;

    &__title {
        color: $primary-c;
        font-size: $text-3xl;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 60px;
    }

    &__sub-title {
        color: $primary-c;
        font-size: $text-2xl;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 30px;
    }

    &__text {
        text-align: justify;
        margin-bottom: 30px;
    }

    &__info {
        margin-bottom: 60px;
    }

}