.new_box {
    display: flex;
    margin-top: 50px;

    .new_box_img {
        width: 327px;
        height: 258px;
    }

    .new_box_text {
        .new_box_text1 {
            width: 640px;
            margin-left: 50px;
            margin-top: 10px;
            font-weight: 600;
            font-size: 34px;
        }

        .new_box_text2 {
            width: 400px;
            margin-left: 52px;
            margin-top: 25px;
            font-size: 17px;
            font-weight: 400;
        }
    }
}