.table__wrapper {
    margin-bottom: 80px;

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        padding: 10px;
        text-align: center;
        background: #1E417C;
        color: $white-c;
        font-weight: 700;
        font-size: $text-lg;
    }

    th,
    td,
    tr {
        border: 1px solid $black-c;
    }

    tr {
        background-color: #EDF3FF;
    }

    tr:nth-child(even) {
        background-color: #F2F2F2;
    }

    td {
        padding: 10px;
        font-weight: 500;
        font-size: $text-base;
        line-height: 19px;
        color: $black-c;
    }

    .col_desc {
        width: 45%;
    }

    .col_participant,
    .col_task_no {
        width: 10%;
        text-align: center;
    }
}