.about {
    padding: 60px 0 60px;

    &-title {
        margin-bottom: 60px;
    }

    &-subtitle {
        color: $primary-c;
        text-align: center;
        font-size: $text-2xl;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &-text {
        margin-bottom: 30px;
        text-align: justify;
    }

    &-partners-title {
        text-align: center;
        margin-bottom: 30px;
    }

    &-statistics__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}