.header {
    padding: 12px 10px;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: 20px;
    }

    &__logo a {
        display: block;
    }
}