.header {
    // background-color: dodgerblue;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logos {
        display: flex;
        column-gap: 5px;
    }
}