.container {
    .about_news_h2 {
        margin-top: 90px;
        font-weight: 600;
        font-size: 34px;
    }

    .line_news_1 {
        width: 140px;
        height: 2px;
        background-color: $green-c ;
        margin-top: 5px;
    }

    



}