@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Bold.eot');
    src: url('./assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Lato-Bold.woff2') format('woff2'),
        url('./assets/fonts/Lato-Bold.woff') format('woff'),
        url('./assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.eot');
    src: url('./assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Lato-Regular.woff2') format('woff2'),
        url('./assets/fonts/Lato-Regular.woff') format('woff'),
        url('./assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Bold.eot');
    src: url('./assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./assets/fonts/Montserrat-Bold.woff') format('woff'),
        url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-SemiBold.eot');
    src: url('./assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/Montserrat-SemiBold.woff') format('woff'),
        url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body,
html {
    font-weight: 400;
    font-style: normal;
}

.section-title {
    font-size: $text-3xl;
    color: $primary-c;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.sm-title {
    font-weight: 600;
    font-size: $text-2xl;
    font-weight: 600;
    color: $primary-c;
}

.text {
    font-family: $secondary-ff;
    font-size: $text-lg;
    color: $black-c;
}

a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    transition: all 0.3s ease-in-out;
}