// COLORS
// active
$primary-c: #1E3A8A;
$white-c: #FFFFFF;
$black-c: #000000;

// 
$green-c: #008000;
$light-blue-c: #1E417C; // For table top

// FONT SIZE
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 22px;
$text-2xl: 24px;
$text-3xl: 28px;
$text-4xl: 36px;
$text-5xl: 48px;