// COLORS
$primary-c: #1E3A8A;
$white-c: #FFFFFF;
$black-c: #000000;
$grey-c: #BABABA;

// FONT SIZE
$text-sm: 14px;
$text-base: 16px;
$text-lg: 20px;
$text-xl: 25px;
$text-2xl: 30px;
$text-3xl: 42px;

// FONT-FAMILY
$primary-ff: "Motserrat", sans-serif;
$secondary-ff: "Lato", sans-serif;