// COLORS
// active
$primary-c: #1E3A8A;
$white-c: #FFFFFF;
$black-c: #000000;

// 
$green-c: #008000;
$light-blue-c: #1E417C; // For table top

// FONT SIZE
$text-sm: 14px;
$text-base: 16px;
$text-lg: 20px;
$text-xl: 25px;
$text-2xl: 30px;
$text-3xl: 42px;

// FONT-FAMILY
$primary-ff: "Motserrat", sans-serif;
$secondary-ff: "Lato", sans-serif;