.footer {
    &-inner {
        display: grid;
        grid-template-columns: repeat(5, auto);
        padding: 20px 0;
    }

    &__logo img {
        width: 155px;
        height: 145px;
    }

    &__copyright {
        text-align: center;
        padding: 30px;
        border-top: 1px solid $primary-c;
        font-weight: 700;
        color: $primary-c;
        opacity: 0.8;
    }
}